* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  margin: 0 auto;
  background: transparent url(../img/bg.png) no-repeat;
}

.list-reset {
  list-style-type: none;
}
a {
  text-decoration: none;
}
li {
  margin-right: 40px;
}
.general-li-elem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ee5514;
}
.li-elem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1a0a03;
}
.li-elem:last-child {
	margin: 0;
}
.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  padding: 15px 30px;

  background: #ee5514;
  border-radius: 5px;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
}
.header {
  justify-content: space-between;
  /* border-bottom: 1px solid #333; */
}
.head {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 100%;
  color: #1a0a03;
  width: 366px;
  margin-bottom: 20px;
}
#parent {
  display: flex;
  justify-content: space-around;
}
.head-second-sec {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  width: 340px;

  /* Black */

  color: #1a0a03;
}
.parag-scn-sect {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  letter-spacing: 0.05em;

  color: #ee5514;
}
.shoes {
  color: #ee5514;
}
.parag {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  width: 326px;
  opacity: 0.7;
}
.first-sect {
  padding-top: 114px;
  justify-content: space-between;
}
.second-sect {
  padding-top: 100px;
  justify-content: space-between;
  height: 510px;
}
.thirt-sec-descr {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 110px;
  color: #ee5514;
}
.third-sec-text {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #1a0a03;
  margin-bottom: 60px;
}
.card-element {
  display: flex;
  flex-direction: column;
  background: #fff;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;

  height: 430px;
}
.card-element:nth-child(2) {
  display: flex;
  flex-direction: column;
  background: #fce8df;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;

  height: 430px;
}
.cards {
  justify-content: space-evenly;
  margin-bottom: 140px;
}
/* .card-img {
  width: 140px;
  height: 140px;
  margin: 56px 110px;
} */
/* .card-text {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #1a0a03;
  margin-bottom: 10px;
} */
.image {
  display: flex;
  align-items: center;
  margin: 0 auto;
  
	width: 140px;
  height: 140px;
  margin: 56px 110px;
}
.link {
	display: flex;
	font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  margin: 0 auto;	
  color: #ee5514;
	
}
.block:nth-child(2) {
  background: #f1dcd3;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
}
.block {
	display: flex;
  height: 423px;
  width: 360px;
  vertical-align: middle;
	flex-direction: column;
  margin-bottom: 140px;
	box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
}
.block:not(:last-child) {
	margin-right: 30px;
	
}

.li-gen {
	 padding-bottom: 2px;
	border-bottom: 1px solid #000; 
	text-align: center;
}

.title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #1a0a03;
  margin-bottom: 10px;
  vertical-align: middle;
}
.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  width: 239px;
  margin: 0 auto;
  color: #1a0a03;
  opacity: 0.7;
  margin-bottom: 20px;
}
/* .card-descr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  width: 239px;
  margin: 0 auto;
  color: #1a0a03;
  opacity: 0.7;
  margin-bottom: 20px;
} */
.read-more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ee5514;
}
.fourth-sec-head {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1a0a03;
  margin-bottom: 18px;
}

.fourth-col {
  justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}
.fourth-right-col {
	display: flex;
}
.slider-button {
	display: flex;
	width: 50px;
	height: 50px;
	background-color: #ffceb9;
	align-items: center;
	border-radius: 50%;
	padding-left: 20px;
	
	/* margin: 0 auto; 	 */
}
.slider-button:nth-child(1) {
	display: flex;
	width: 50px;
	height: 50px;
	background-color: #ffceb9;
	align-items: center;
	border-radius: 50%;
	
	margin-left: 300px;
	/* margin: 0 auto; 	 */
}
