* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  margin: 0 auto;
  background: transparent url(../img/bg.png) no-repeat;
}

.list-reset {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-link {
  margin-right: 40px;
}
.general-li-elem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #ee5514;
}
.li-elem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #1a0a03;
  margin-right: 30px;
}
.li-elem:last-child {
  margin: 0px;
}
.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  padding: 15px 30px;

  background: #ee5514;
  border-radius: 5px;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
}
.header {
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
}
.head {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 100%;
  color: #1a0a03;
  width: 366px;
  margin-bottom: 20px;
}
#parent {
  display: flex;
  justify-content: space-around;
}
.head-second-sec {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  width: 340px;
	color: #1a0a03;
}
.parag-scn-sect {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  letter-spacing: 0.05em;

  color: #ee5514;
}
.shoes {
  color: #ee5514;
}
.parag {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1a0a03;
  width: 326px;
  opacity: 0.7;
}
.first-sect {
  padding-top: 50px;
  justify-content: space-between;
}
.second-sect {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  height: 510px;
  margin-top: 140px;
}
.thirt-sec-descr {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 110px;
  color: #ee5514;
}
.third-sec-text {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #1a0a03;
  margin-bottom: 60px;
}
.card-element {
  display: flex;
  flex-direction: column;
  background: #fff;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;

  height: 430px;
}
.card-element:nth-child(2) {
  display: flex;
  flex-direction: column;
  background: #fce8df;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;

  height: 430px;
}
.cards {
  justify-content: space-evenly;
  margin-bottom: 140px;
}

.image {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 140px;
  height: 140px;
  margin: 56px 110px;
}
.link {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  margin: 0 auto;
  color: #ee5514;
}
.block:nth-child(2) {
  background: #f1dcd3;

  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
}
.block {
  display: flex;
  height: 423px;
  width: 360px;
  vertical-align: middle;
  flex-direction: column;
  margin-bottom: 140px;
  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
}
.block:not(:last-child) {
  margin-right: 30px;
}
.swiper {
  width: 1140px;
  height: 475px;
}

.itc-slider__item {
  height: 400px;
  width: 263px;
}
.swiper-slide {
  height: 400px;
}

.li-gen {
  padding-bottom: 2px;
  border-bottom: 1px solid #ee5514;
  color: #ee5514;

  text-align: center;
}
.itc-slider__items {
  display: flex;
  background: #f1a7a7;
  width: 263px;
}

.title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #1a0a03;
  margin-bottom: 10px;
  vertical-align: middle;
}
.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  width: 239px;
  margin: 0 auto;
  color: #1a0a03;
  opacity: 0.7;
  margin-bottom: 20px;
}

.swiper-slide {
  vertical-align: top;
}

.read-more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ee5514;
}
.fourth-sec-head {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1a0a03;
  margin-bottom: 18px;
}

.fourth-col {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.fourth-right-col {
  display: flex;
}
.slider-button {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ffceb9;
  align-items: center;
  border-radius: 50%;
  padding-left: 20px;

  /* margin: 0 auto; 	 */
}
.slider-button {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #ffceb9;
  align-items: center;
  border-radius: 50%;

  margin-left: 300px;
  /* margin: 0 auto; 	 */
}

.slider-h3 {
  font-family: "Source Serif Pro";
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.size-type {
  display: flex;
  margin-bottom: 10px;
}
.pr-price {
  display: flex;
  margin-bottom: 20px;
}
.size,
.pr {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.slider-img {
  margin-bottom: 20px;
}
.price,
.type {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.menu {
  position: absolute;
  top: 563px;
  background-color: #ffffff;
  width: 792px;
  height: 125px;
  border-radius: 5px;
}

.menu a {
  text-decoration: none;
}
.menu li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.menu-listik {
  width: 100px;
  position: relative;
}
.menu-listik:after {
  content: " ";
  position: absolute;
  border-right: 1.6px solid #ee5514;
  top: 18%;
  right: 0;
  height: 65%;
}
.menu-listik:not(:last-child) {
  margin-right: 50px;
}
.menu-last {
  margin-right: 50px;
}
.menu-list {
  display: flex;
  align-items: center;
  height: 125px;
  padding-left: 50px;
}

.menu-descr {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a0a03;
  margin-bottom: 10px;
}

.menu-elem {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a0a03;
  position: relative;
}
.fifth-flex-elem {
  justify-content: space-between;
}
.fifth {
  font-family: "Poppins";
}
.fifth-col-text {
  font-family: "Source Serif Pro";
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
.fifth-col-descr {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  width: 390px;
  margin-bottom: 15px;
}
.fifth-col-last-comm {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 9px;
}
.fifth-col-last-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.fifth-sec {
  margin-bottom: 140px;
}
.fifth-fragmentation {
  justify-content: space-between;
  align-items: start;
  margin-bottom: 30px;
}
.fifth-sec-right-col {
  height: 351px;
  position: relative;
}
.quotes {
  margin-bottom: 5px;
}
.right-btns {
  position: absolute;
}
.right-btn-left {
  position: absolute;
  left: 268px;
  top: 16px;
}
.right-btn-right {
  position: absolute;
  left: 372px;
  top: 16px;
}
.right-bg-left {
  position: absolute;
  left: 350px;
}
.right-bg-right {
  position: absolute;
  left: 250px;
}
.sixth-sc {
  margin-bottom: 140px;
}
.sixth-content {
  width: 650px;
  height: 331px;
  background: #e9f2fe;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sixth-sc img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sixth-content-header {
  font-family: "Source Serif Pro";
  font-size: 31px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 63px;
  margin-bottom: 20px;
}
.sixth-content-text {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 525px;
  margin-bottom: 40px;
}
.sixth-form input {
  width: 526px;
  height: 51px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 30px;
}
.sixth-form .btn {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: center;
  left: 430px;
  bottom: 36px;
  width: 117px;
  height: 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.footer-img,
.footer-list-link {
  margin-bottom: 23px;
}
.footer-text-reset {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-text-reset:not(:last-child) {
	margin-right: 88px;
}
.footer-text-reset h3 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
	margin-bottom: 43px;
}
.footer-list-test {
	line-height: 2.3;
}

.last-elem-footer {
	padding-left: 50px	;
	width: 247px;
	
}
.footer-form input{
	width: 226px;
  height: 51px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 30px;
}
.footer-form {
	display: flex;
	padding-top: 58px;
}
.footer-btn {
	position: relative;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	right: 10px;
	height: 51px;
}


